:root{
    --key-size: 4vw;
}

body{
    background: #141414;
    color: #ddd;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
}

h1{
    font-size: 3em;
}

#word_p{
    font-size: 2em;
}

button{
    border-radius: .5em;
    border: none;
    background: #555;
    color: #ddd;
    font-size: 1.5em;
    margin: 10px;
    padding: 5px;
    display: none;
}

#keyboard{
    width: calc(var(--key-size) * (49 / 4));
    padding: calc(var(--key-size) / 4);
    border-radius: calc(var(--key-size) / 6);
    background: #555;
    display: grid;
    grid-template-columns: repeat(49, calc(var(--key-size) / 4));
    grid-template-rows: repeat(3, var(--key-size));
    grid-column-gap: 0;
    grid-row-gap: calc(var(--key-size) / 4);
}

.key{
    font-weight: bold;
    font-size: calc(var(--key-size) / 2);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: calc(var(--key-size) / 6);
    background: #ddd;
    color: #333;
    grid-column: span 4;
    cursor: pointer;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.span1{
    grid-column: span 1;
}

.span3{
    grid-column: span 3;
}

.span6{
    grid-column: span 6;
}
